<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Tactical Precision Dissaray</title>
  <style type="text/css">
    body {
      width: 800px;
      margin: 20px auto;
    }
  </style>
</head>
<body>
  <h1>Tactical Precision Dissaray   </h1>

  <hr>

  <script>console.log("You shouldn't be here for this challenge! Don't cheat!");

console.log(`.##.......########....###....##.....##.########.########.##.....##.####..######..########..##..........###.....######..########
.##.......##.........##.##...##.....##.##..........##....##.....##..##..##....##.##.....##.##.........##.##...##....##.##......
.##.......##........##...##..##.....##.##..........##....##.....##..##..##.......##.....##.##........##...##..##.......##......
.##.......######...##.....##.##.....##.######......##....#########..##...######..########..##.......##.....##.##.......######..
.##.......##.......#########..##...##..##..........##....##.....##..##........##.##........##.......#########.##.......##......
.##.......##.......##.....##...##.##...##..........##....##.....##..##..##....##.##........##.......##.....##.##....##.##......
.########.########.##.....##....###....########....##....##.....##.####..######..##........########.##.....##..######..########`);
  

 </script>


  <form action="/" method="post">
    {% csrf_token %}
    {% for field in data %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endfor %}
    <input type="submit" value="Submit">
</form>

{% if created %}


Created array with the following:{{ created|safe }}

{% endif %}

</body>
</html>