<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>500 HTML</title>

	<link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato:400" rel="stylesheet">

	<link type="text/css" rel="stylesheet" href="../static/css/font-awesome.min.css" />
	<link type="text/css" rel="stylesheet" href="../static/css/style.css" />

</head>

<body>

	<div id="notfound">
		<div class="notfound-bg">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
		<div class="notfound">
			<div class="notfound-404">
				<h1>500</h1>
			</div>
			<h2>Maybe a server issue?</h2>
			<p>We don't know. We just put questions.</p>
			<a href="/">Homepage</a>
			<div class="notfound-social">
				<a href="https://www.facebook.com/SSSUPB/"><i class="fa fa-facebook"></i></a>
			</div>
		</div>
	</div>

</body>

</html>