{% extends 'base.html' %}

{% block title %}Store{% endblock %}

{% block content %}

<div id="content">

<br><br>

<h1>Welcome To Store</h1>
<h2>Search For An Item</h2><br>


<form action="?" method="GET" onsubmit="search();return false;">
	<input type="text" id="searchItem" value=""/>
	<input class="button" type="submit" value="Search" />
</form>

<div class="table-responsive">
<table id="results">
    <tr class="table">
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
</table>
</div>

<p id="stat"></p>

</div>
{% endblock %}
